# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
# eclipse ignore
.settings/
.project
.classpath
# idea ignore
.idea/
*.ipr
*.iml
*.iws
# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.launch
rebel.xml
# system ignore
.DS_Store
/itao-service/src/main/resources/*/*.properties
/itao-service/src/main/resources/*/*.xml
/itao-service/src/test/java/*.*
/itao-service/sql/*.sql
/itao-web-admin/src/main/resources/*/*.properties
/itao-web-admin/src/main/resources/*/*.xml
